.more-infor-container {

    .more-infor-body {
        padding-top: 10px;

        .more-infor-title {
            font-size    : 22px;
            font-weight  : 500;
            margin-bottom: 10px;
        }

        .more-infor-content {
            display      : flex;
            border-bottom: 1px solid #ddd;
            cursor       : pointer;

            &:hover {
                color: rgb(68, 195, 211);
            }

            .mi-content-left {
                height             : 100px;
                width              : 180px;
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : cover;

                &.avatar-doctor {
                    width        : 100px;
                    height       : 100px;
                    border-radius: 50%;
                }
            }

            .mi-content-right {
                padding-left: 10px;

                .name-item {
                    font-size  : 16px;
                    font-weight: 600;

                    &.doctor-name {
                        margin-top   : 5px;
                        margin-bottom: 10px;
                    }

                    &.handbook-name {
                        font-size  : 20px;
                        font-weight: 500;
                    }
                }

                .description {
                    font-size: 14px;
                }
            }
        }
    }
}

a:-webkit-any-link {
    text-decoration: none;
    color          : black;
}

@media screen and (max-width: 576px) {
    .more-infor-container {

        .more-infor-body {

            .more-infor-title {
                font-size   : 20px;
                padding-left: 5px;
            }

            .more-infor-content {
                padding-left: 5px;

                .mi-content-left {
                    height: 80px;
                    width : 150px;

                    &.avatar-doctor {
                        width : 70px;
                        height: 70px;
                    }
                }

                .mi-content-right {
                    padding-right: 10px;
                    padding-left : 10px;
                    max-width    : calc(100% - 150px);

                    .name-item {
                        font-size: 15px;

                        &.doctor-name {
                            margin-top   : 0px;
                            margin-bottom: 0px;
                        }

                        &.handbook-name {
                            font-size  : 16px;
                            text-align : justify;
                            font-weight: 500;
                        }
                    }

                    .description {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}