.detail-handbook-container {
    min-height     : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;

    .detail-handbook-body {
        padding-top: 10px;

        .handbook-title {
            font-weight: 500;
            font-size  : 32px;
        }

        .handbook-image {
            margin             : 20px auto;
            height             : 300px;
            width              : 600px;
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
        }

        .handbook-desciption {
            background-color: rgb(252, 250, 246);
            padding         : 30px 150px;
            margin-top      : 10px;
            margin-bottom   : 15px;

            .description-content {
                text-align: justify;

                img {
                    display: block;
                    margin : 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .detail-handbook-container {
        padding: 0 10px;

        .detail-handbook-body {

            .handbook-title {
                font-size: 22px;
            }

            .handbook-image {
                height: 250px;
                width : 100%;
            }

            .handbook-desciption {
                padding: 20px 15px;
            }
        }
    }
}