.manage-CSH-container {

    .add-new-CSH {

        .upload-image-container {
            display        : flex;
            justify-content: space-between;

            .label-upload-img {
                padding         : 5px;
                border-radius   : 3px;
                background-color: #ddd;
                cursor          : pointer;

                i {
                    margin-left: 5px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .preview-img {
                width              : 375px;
                height             : 200px;
                border             : 1px solid #ddd;
                background-position: center;
                background-repeat  : no-repeat;
                background-size    : cover;
                cursor             : pointer;
            }
        }
    }

    .all-CSH {

        .list-CSH-title {
            font-size: 17px;
        }

        #table-manage-CSH {
            font-family    : Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width          : 100%;
        }

        #table-manage-CSH td,
        #table-manage-CSH th {
            border : 1px solid #ddd;
            padding: 8px;
        }

        #table-manage-CSH tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #table-manage-CSH tr:hover {
            background-color: #ddd;
        }

        #table-manage-CSH th {
            padding-top     : 12px;
            padding-bottom  : 12px;
            text-align      : left;
            background-color: #04AA6D;
            color           : white;

            &.action-CH {
                width: 8%;
            }
        }
    }
}