.doctor-schedule-container {
    padding: 15px 20px 0 20px;
    height : 100%;

    .all-schedule {

        .select-date {
            border       : none;
            border-bottom: 1px solid black !important;
            outline      : none;
            color        : rgb(3, 96, 189);
            font-weight  : 500;
            cursor       : pointer;

            option {
                cursor: pointer;
            }
        }
    }

    .all-time {

        .calendar-text {
            text-transform: uppercase;
            font-weight   : 600;
            margin        : 10px 0;

            i {
                margin-right: 5px;
            }
        }

        .time-content {
            .available-time {
                display  : flex;
                flex-wrap: wrap;
                gap      : 10px;

                button {
                    padding         : 7px 10px;
                    background-color: rgb(254, 249, 174);

                    &.btn-timeVi {
                        width: 22%;
                    }

                    &.btn-timeEn {
                        width: 30%;
                    }

                    &:hover {
                        background-color: rgb(68, 194, 210);
                        color           : #fff;
                    }
                }
            }

            .book-free {
                margin-top: 15px;
            }

            .no-schedule {
                font-style: italic;
                font-size : 14px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .doctor-schedule-container {
        padding: 20px 10px 0 10px;

        .all-time {

            .time-content {
                .available-time {

                    button {

                        &.btn-timeVi {
                            width: 30%;
                        }

                        &.btn-timeEn {
                            width: 45%;
                        }
                    }
                }

                .no-schedule {
                    text-align   : justify;
                    padding-right: 10px;
                }
            }
        }
    }
}