.doctor-schedule-container {
    border-right: 1px solid red;
    padding     : 15px 20px;
    height      : 100%;

    .all-schedule {
        .select-date {
            border       : none;
            border-bottom: 1px solid black !important;
            outline      : none;
            color        : rgb(3, 96, 189);
            font-weight  : 500;
            cursor       : pointer;

            option {
                cursor: pointer;
            }
        }
    }

    .all-time {
        .calendar-text {
            text-transform: uppercase;
            font-weight   : 600;
            margin        : 10px 0;

            i {
                margin-right: 5px;
            }
        }

        .time-content {
            display  : flex;
            flex-wrap: wrap;
            gap      : 10px;

            button {
                padding         : 7px 10px;
                width           : 22%;
                background-color: rgb(254, 249, 174);
                font-weight     : 600;

                &:hover {
                    background-color: rgb(68, 194, 210);
                    color           : #fff;
                }
            }
        }
    }
}