.doctor-info-container {
    background-color: rgb(248, 249, 248);
    min-height      : 100vh;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;

    .content-top {
        background-color: white;
        border-bottom   : 1px solid #ddd;

        .doctor-description {
            display: flex;

            .content-left {
                background-size    : cover;
                background-position: center;
                background-repeat  : no-repeat;
                width              : 120px;
                height             : 120px;
                border-radius      : 50%;
                margin             : 10px 20px;
            }

            .content-right {
                width         : calc(100% - 120px);
                display       : flex;
                flex-direction: column;
                padding       : 15px 15px 0 10px;

                .up {
                    font-size  : 22px;
                    font-weight: 600;
                }

                .down {
                    margin-top: 10px;
                    text-align: justify;

                    .like-share-plugin {
                        margin-top: 5px;
                    }
                }
            }
        }

        .doctor-schedule {
            display      : flex;
            margin-bottom: 15px;
            min-height   : 200px;

            .content-left {
                width: 50%;
            }

            .content-right {
                width      : 50%;
                margin-top : 30px;
                border-left: 1px solid #ddd;
            }
        }
    }

    .content-bottom {

        .doctor-detail-info {
            padding: 20px 10px 0px 10px;

            h3 {
                font-size: 17px;
            }

            img {
                width: 100%;
            }
        }

        .doctor-comment {
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 576px) {
    .doctor-info-container {

        .content-top {

            .doctor-description {
                display: flex;

                .content-left {
                    width : 80px;
                    height: 80px;
                    margin: 10px;
                }

                .content-right {
                    padding: 10px 0px 0 5px;

                    .up {
                        font-size: 20px;
                    }

                    .down {
                        margin-top: 5px;

                        .like-share-plugin {
                            margin-top: 5px;
                        }
                    }
                }
            }

            .doctor-schedule {
                display       : flex;
                flex-direction: column;

                .content-left {
                    width         : 100%;
                    padding-bottom: 20px;
                }

                .content-right {
                    width      : 100%;
                    margin-top : 0px;
                    border-top : 1px solid #ddd;
                    border-left: none;
                }
            }
        }

        .content-bottom {

            .doctor-detail-info {
                padding: 20px 10px 0px 5px;
            }
        }
    }
}