.profile-doctor-container {

    .doctor-description {
        display: flex;

        .content-left {
            display       : flex;
            flex-direction: column;

            .avatar {
                background-size    : cover;
                background-position: center;
                background-repeat  : no-repeat;
                width              : 80px;
                height             : 80px;
                border-radius      : 50%;
            }
        }

        .content-right {
            width         : calc(100% - 80px);
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;
            padding-top   : 5px;

            .up {
                font-weight: 600;
            }

            .down {
                text-align: justify;
            }
        }
    }

    .price {
        margin-top: 5px;

        span {
            margin-right: 3px;
        }
    }

    .more-info-doctor {
        margin-top  : 5px;
        padding-left: 6px;

        span {
            color: rgb(68, 195, 211);
        }
    }
}