.doctor-info-container {
    border: 1px solid red;
    height: 500px;
    margin: 0 150px;

    .doctor-description {
        display: flex;
        border : 1px solid black;

        .content-left {
            width              : 20%;
            border             : 1px solid blue;
            background-position: center;
            background-repeat  : no-repeat;
            width              : 120px;
            height             : 120px;
            border-radius      : 50%;
            margin             : 10px 20px;
        }

        .content-right {
            width         : 80%;
            border        : 1px solid rgb(38, 251, 0);
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;
            padding-top   : 15px;

            .up {
                font-size  : 22px;
                font-weight: 600;
            }

            .down {
                border    : 1px solid black;
                margin-top: 10px;
            }
        }
    }
}