.detail-specialty-container {
    background-color: #EEEEEE;
    min-height      : 100vh;

    .specialty-content-top {
        padding-top     : 20px;
        background-color: #fff;
    }

    .specialty-content-bottom {
        .location {
            margin-top   : 10px;
            margin-bottom: 10px;

            .select-province {
                width: 120px;
            }
        }

        .list-doctor {

            .each-doctor {
                display         : flex;
                margin-bottom   : 15px;
                background-color: #fff;
                box-shadow      : 0 1px 6px #20212447;
                border-radius   : 8px;
                width           : 100%;

                .doctor-content-left {
                    width: 50%;

                    .profile-doctor-container {
                        border-right: 1px solid #ddd !important;
                        padding     : 15px 20px 15px 15px !important;
                    }
                }

                .doctor-content-right {
                    width: 50%;
                }
            }
        }
    }
}