.home-footer-container {
    border-top: 1px solid #ddd;

    .ft-content-top {
        margin         : 0 auto;
        max-width      : 1000px;
        display        : flex;
        justify-content: space-between;
        gap            : 50px;

        .ft-content-left {
            font-size      : 15px;
            display        : flex;
            flex-direction : column;
            justify-content: center;

            table {

                .td-left {
                    padding-right: 20px;
                    font-weight  : 600;
                    color        : #434343;
                }
            }
        }

        .ft-content-right {}

    }

    .ft-content-bottom {
        text-align: center;
        border-top: 1px solid #ddd;

        p {
            margin: auto;

            a {
                text-decoration: unset;
                color          : #49bce2;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .home-footer-container {

        .ft-content-top {
            flex-direction : column;
            justify-content: center;
            gap            : 10px;

            .ft-content-left {
                font-size   : 15px;
                padding-left: 5px;

                table {

                    .td-left {
                        padding-right: 20px;
                        font-weight  : 600;
                        color        : #434343;
                    }
                }
            }

            .ft-content-right {
                padding: 0 5px;
            }
        }
    }
}