.slick-prev {
    // position        : relative !important;
    left      : -15px !important;
    z-index   : 100 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: white !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: rgb(229, 223, 223) !important;
    }
}

.slick-prev::before {
    font-family: FontAwesome !important;
    color      : #49bce2 !important;
    // content: "\f060" !important;
}

.slick-next {
    right     : -15px !important;
    z-index   : 100 !important;
    height    : 48px !important;
    width     : 44px !important;
    background: white !important;
    border    : 2px solid #d7d7d7 !important;

    &:hover {
        background: rgb(229, 223, 223) !important;
    }
}

.slick-next::before {
    font-family: FontAwesome !important;
    color      : #49bce2 !important;
    // content: "\e258" !important;
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-medical-facility {
        background: #f5f5f5;
    }

    &.section-handbook {
        background: #f5f5f5;
    }

    &.section-about {
        height: 470px;

        .section-container {
            padding-top: 35px;

            .section-about-header {
                font-size    : 22px;
                font-weight  : 600;
                margin-bottom: 25px;
                padding-left : 5px;
            }

            .section-about-content {
                display: flex;

                .content-left {
                    width: 50%;
                }

                .content-right {
                    width              : 50%;
                    background-image   : url(../../assets/about/about.png);
                    background-position: top center;
                    background-size    : 500px 200px;
                    background-repeat  : no-repeat;
                }
            }
        }
    }

    .section-body {

        .section-custom {

            &.section-outstanding-doctor {
                padding: 5px;

                .outer-border {
                    border : 1px solid #ddd;
                    padding: 20px;
                    height : 215px;

                    .outer-bg {
                        display        : flex;
                        justify-content: center;
                        margin-bottom  : 10px;

                        .bg-img {
                            // background-image: url(../../assets/outstanding-doctor/anh-dai-dien-bs.jpg);
                            width        : 120px;
                            height       : 120px;
                            border-radius: 50%;
                        }
                    }
                }
            }

            &.section-handbook {
                display       : flex !important;
                flex-direction: row !important;
                padding       : 5px;

                .outer-bg {

                    .bg-img {
                        // background-image: url(../../assets/handbook/handbook.jpg);
                        height: 170px;
                        width : 280px;
                    }
                }

                .bg-text {
                    padding    : 5px 10px;
                    font-size  : 17px;
                    font-weight: 500;
                    text-align : justify;
                }
            }
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        height        : 100%;
        display       : flex;
        flex-direction: column;
        padding-top   : 15px;

        .section-header {
            height         : 60px;
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            margin-bottom  : 15px;

            .title-header {
                font-size  : 22px;
                font-weight: 600;
            }

            .btn-header {
                display         : block;
                padding         : 10px 15px;
                border          : none;
                outline         : none;
                background-color: #ebebeb;
                color           : black;
                cursor          : pointer;
                text-transform  : uppercase;

                &:hover {
                    color           : white;
                    background-color: #f7d800;
                }
            }
        }

        .section-body {

            .section-custom {
                padding: 0 5px;
                cursor : pointer;

                .bg-img {
                    width              : 100%;
                    height             : 155px;
                    background-position: center;
                    background-size    : cover;
                    background-repeat  : no-repeat;
                    background-color   : #eee;
                }

                &:hover {
                    color: #49bce2;
                }

                .name {
                    margin-top: 10px;
                    font-size : 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .section-share {
        .section-container {
            .section-header {
                .title-header {
                    font-size   : 20px;
                    font-weight : 600;
                    padding-left: 5px;
                }

                .btn-header {
                    padding-right   : 20px;
                    font-size       : 14px;
                    color           : #49bce2;
                    background-color: white;

                    &.btn-clinic,
                    &.btn-handbook {
                        background-color: #f5f5f5;
                    }
                }
            }

            .section-body {
                .section-custom {

                    &.section-handbook {
                        flex-direction : column !important;
                        justify-content: center;
                        gap            : 5px;

                        .outer-bg {

                            .bg-img {
                                width : 100%;
                                height: 155px;
                            }
                        }

                        .bg-text {
                            padding  : 5px 5px 5px 0;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        &.section-about {
            height: 370px;

            .section-container {

                .section-about-content {

                    .content-left {
                        width        : 100%;
                        padding-left : 5px;
                        padding-right: 5px;

                        iframe {
                            height: 220px;
                        }
                    }

                    .content-right {
                        display: none;
                    }
                }
            }
        }
    }
}